<h1>My portfolio</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in? %>
<% link_to 'Add portolio itme' %>

<% If user singed in? %>
<% Link_to 'Add Portfolio item', new_portfolio_item_path  btn btn sucess'>>

<% New %>
